<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>My Pantry</h1>
    <ul>
        <%pantry.forEach((item) => {%>
            <li>
                <a href="/users/<%=user._id%>/foods/<%=item._id%>"><%=item.name%></a>
            </li>
        <%})%>
    </ul>
    <button type="button"><a href="/users/<%=user._id%>/foods/new">Add new Item</a></button>
</body>
</html>