<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=item.name%></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%=item.name%></h1>
    <a href="/users/<%=user._id%>/foods/<%=item._id%>/edit">Edit this Item</a>
    <form
      action="/users/<%=user._id%>/foods/<%=item._id%>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete this Item</button>
    </form>
</body>
</html>